<% content_for :page_title do %>
  <%= Spree.t(:reviews) %>
<% end %>



<% if @reviews.any? %>
  <table class="table" id="listing_reviews">
    <thead>
    <tr>
      <th><%= sort_link @search, :product, Spree.t(:product) %></th>
      <th><%= sort_link @search, :rating, Spree::Review.human_attribute_name(:rating) %></th>
      <th><%= Spree.t(:feedback) %></th>
      <th><%= sort_link @search, :user, Spree::Review.human_attribute_name(:user) %></th>
      <th><%= sort_link @search, :ip_address, Spree::Review.human_attribute_name(:ip_address) %></th>
      <th><%= sort_link @search, :created_at, Spree::Review.human_attribute_name(:created_at) %></th>
      <th data-hook="admin_reviews_index_header_actions" class="actions"></th>
    </tr>
    </thead>
    <tbody>
    <% @reviews.each do |review| %>
      <tr data-hook="admin_reviews_index_rows" id="<%= dom_id review %>" class="<%= cycle('odd', 'even') %>">
        <td><%= link_to_if review.product, review.product.name, product_path(review.product) %></td>
        <td><%= txt_stars(review.rating) %></td>
        <td><%= link_to "(#{review.feedback_stars}/#{review.feedback_reviews.size})", admin_review_feedback_reviews_path(review) %></td>
        <td><%= review.user_id ? link_to(review.user.try(:email), [:admin, review.user]) : Spree.t(:anonymous) %></td>
        <td><%= link_to_if review.ip_address, review.ip_address, "http://whois.domaintools.com/#{review.ip_address}", target: :blank %></td>
        <td><%= l review.created_at, format: :short %></td>
        <td data-hook="admin_reviews_index_row_actions" class="actions">
          <%= link_to_with_icon 'save', Spree.t(:approve), approve_admin_review_url(review), no_text: true, class: 'approve btn btn-default' unless review.approved %>
          <%= link_to_edit review, no_text: true, class: 'edit' %>
          <%= link_to_delete review,  url: "/shop/admin/reviews/destroy?id=#{review.id}" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/review')) %>
  </div>
<% end %>

<%= render 'spree/admin/shared/index_table_options', collection: @reviews %>